
.inventory-stats-container {
  background-color: #1a1a1a;
  color: #e0e0e0;
  padding: 20px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.stats-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-card {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  color: #d9f99d;
}

.stat-icon {
  font-size: 30px;
}

.stat-info h4 {
  margin: 0;
  font-size: 16px;
}

.stat-info p {
  margin: 0;
  font-size: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2e2e2e;
  color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.product-table th,
.product-table td {
  padding: 15px;
  text-align: left;
}

.product-table th {
  background-color: #444;
  font-weight: bold;
}

.product-table tr:nth-child(even) {
  background-color: #3a3a3a;
}

.product-table tr:nth-child(odd) {
  background-color: #2a2a2a;
}

.product-table td span {
  margin-right: 10px;
  cursor: pointer;
}

.role-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

.container div {
  display: flex;
  flex-direction: column;
}

.container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal {
  background-color: #1a1a1a;
  color: #e0e0e0;
  padding: 20px;
  width: 500px;
  height: 300px;
  position: relative;
  margin: 50px auto;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  right: 25px;
  top: 38px;
  position: absolute;
  color: white;
}

.cancel-btn {
  background-color: #ddd;
  color: #333;
}

.save-btn {
  color: #fff;
}


/* loader-css */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Error screen */
.error-banner {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  text-align: center;
  margin: 10px 0;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}
